{% extends "base.html" %}
{% load static %}
{% block metadescription %}
    Please confirm your order.
{% endblock %}

{% block title %}
    Order - Davin shop
{% endblock %}
{% block content %}
<div class="order-details">
    <h2>Order Details</h2>
    
    <!-- Display each order item -->
    {% for order_item in order.orderitem_set.all %}
      <div class="order-item">
        <div class="product-image">
          <a href="order_item.product.get_url"><img src="{{ order_item.product.image.url }}" alt="{{ order_item.product.name }}"></a>
        </div>
        <div class="product-details">
          <h3>{{ order_item.product.name }}</h3>
          <p>Quantity: {{ order_item.quantity }}</p>
          <p>Price: {{ order_item.price }}</p>
        </div>
      </div>
    {% endfor %}
    
    <!-- Display total -->
    <div class="order-total">
      <p>Total Price: {{ order.total }}</p>
    </div>
  </div>

{% endblock %}