{% extends "base.html" %}
{% load static %}
{% block metadescription %}
    Sign up by to get an account with us.
{% endblock %}
{% block title %}
    Create a New Acount - Davinshop App 
{% endblock %}
{% block content %}
    <div>
        {% if not form.is_valid %}
            <div class="mx-auto">
                <br>
                <h1 class="my_title text-center">Create a new acount</h1>
                <br>
                <div class="col-9 col-sm-9 col-md-6 col-lg-5 mx-auto bg-light">
                    <br>
                    <p>Enter the following information to create a new account.</p>
                    <form method="post">
                        
                        <p>{{ form }}</p>
                        <button type="submit" class="btn btn-secondary">Register Account</button>
                    </form>
                    <br>
                </div>
            </div>
        {% else %}
        <div>
            <br>
            <h1 class="my_title text-center">Your account has successfully been created</h1>
            <br>
            <div>
                <p>
                    Dear Customer,
                    <br>
                    <br>
                    Your account has been created and it is ready to use.
                    <br>
                    <a href="{% url 'davinshop:allProdCat' %}">Continue shopping</a> and enjoy the variety of our products.
                </p>
            </div>
        </div>
        {% endif %}
    </div>
    <br>
{% endblock %}